body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 50px;
}

.container {
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}

.form-container {
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}

input {
    width: 75%;
    height: 15px;
}